@import "tailwindcss";

@plugin "tailwindcss-animate";


@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
}

:root {
  --primary: #706D54;
  --primary-light: #A08963;
  --primary-dark: #626F47;
  --accent: #778873;

  /* SCBN expects these variables */
  --primary-foreground: #ffffff;
  --accent-foreground: #ffffff;

  /* background & foreground biarkan default tailwind */
  /* HAPUS override putih di sini */
}

.dark {
  --primary: #A08963;
  --primary-foreground: #000;
  --accent: #626F47;
  --accent-foreground: #fff;
}

@layer base {
  * {}

}